
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ article.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <div class="wrapper">
        <header class="article-header">
            <h1 class="article-title">{{ article.title }}</h1>
            <p class="article-subtitle">{{ article.subtitle }}</p>
            <div class="article-meta">{{ article.author }}</div>
        </header>
        <!-- <figure class="article-image">
            <img src="{{ url_for('static', filename=article.image_filename) }}" alt="{{ article.title }}">
        </figure> -->
        <article class="article-content">
            {{ article.content | safe }} <!-- Используем фильтр 'safe' для сохранения HTML-форматирования -->
        </article>
    </div>
</body>
</html>
